.form{
    margin-top: 3%;
    margin-left: 35%;
    
}

.form > input{
    padding: 20px 80px;
    border: solid 3px grey;
    border-radius: 10px;
}
.title{
    color:#66a80f;
    margin-left: 29.9%;
    margin-top: 5%;
}

.form > button{
    padding: 15px;
    border-radius: 5px;
    margin-left: 13%;
    border: none;
    background-color: #66a80f;
    color:white;
    filter: drop-shadow(4px 4px 8px #66a80f);
}

.form> button:hover{
    background-color: #82c91e;
    cursor: pointer;
    color: black;
}

.form h1{
    margin-left: 5%;
    font-size: 40px;
}