.title{
    text-align: center;
    margin-top: -5%;

}
.product{
    display: flex;
    background: #e6fcf5;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    /* margin:50%; */
   
}
